body {
	font-family: "Arial", Helvetica, sans-serif;
}

.header {
	height: 105px;
}

.search: {
	width: 500px;
}

.icon {
	text-align: center;
	font-size: 50px;
	padding-top: 20px;
}

.navbar {
	height: 40px;
	background: #3A3335;
	font-size: 15px;
}

.option-bar {
	text-align: right;
	color: #3A3335;
	font-size: 12px;
	margin-bottom: 10px;
	margin-right: 20px;
	float:right; 
	padding-top:5px; 
	padding-bottom: 10px;
}

.search-buttom {
	background-color: #FCAF17;
}

#locals {
    height: 32px;
	background: url('../images/sprite.png') -45px 0px;
	background-repeat: no-repeat;
}

#sale {
    height: 32px;
	background: url('../images/sprite.png') -68px 0px;
	background-repeat: no-repeat;
	margin-left: 30px;
}

#search {
	height: 32px;
	background: url('../images/sprite.png') -10px -60px;
	background-repeat: no-repeat;
	margin-top: -1px;
	margin-left: -5px;
	width: 5px;
}

#cart {
	height: 32px;
	background: url('../images/sprite.png') -312px -20px;
	background-repeat: no-repeat;
	margin-left: 30px;
	width: 50px;
}

#marks {
	height: 100px;
	background: url('../images/sprite.png') 0px -45px;
	background-repeat: no-repeat;
	background-size: 180%;
	margin-left: 30px;
	width: 300px;
}

#down-arrow {
	height: 15px;
	background: url('../images/sprite.png') -300px 0px;
	background-repeat: no-repeat;
	margin-left: 130px; 
	margin-top:-20px;
}

#li-icon {
	height: 15px;
	background: url('../images/sprite.png') -130px 0px;
	background-repeat: no-repeat;
	margin-top: 4px;
	margin-left: 3px;
}

li {
    display: block;
    text-align: center;
    text-decoration: none;
    float: left;
    padding-left: 20px;
}

ul {
    list-style-type: none;
}

.left-panel {
	padding-left: 100px;
	color: #FCAF17;
	font-weight: bold;
}

.right-panel {
	float: right;
	color: white;
	margin-right: 125px;
	font-weight: bold;
}

.first-content {
	width: 165px;
}

.second-content {
	margin-left: 30px;
	margin-top: 22px;
	padding-bottom:60px;
}

.item {
	width: 185px;
}

.image {
    border-style: none;
    height: 185px;
    -webkit-box-shadow: 0px 1px 2px 0px #555;
    -moz-box-shadow: 0px 1px 2px 0px #555;
    box-shadow: 0px 1px 2px 0px #555;
    background-repeat: no-repeat;
}

.title {
	color: #231F20;
	font-size: 15px;
	font-weight: bold;
}

.price {
	color: #D44700;
	font-size: 15px;
	margin-top: 5px;
}

.description {
	color: #5C5C5C;
	font-size: 11px;
}

.offer {
	background: #D44700;
	margin-top: 6px;
	color: white;
	text-align: center;
	font-size: 11px;
}

.footer {
	height: 58px;
	background: #3A3335;
	margin-bottom: 20px;
	color:white;
}

.right-marks {
	margin-left: 1100px;
	padding-top: 15px;
}

.marks {
	margin-left: 490px;
	margin-top: 20px;
}

.italic {
	font-style: italic;
}

#fizzmod-icon {
	background: url('../images/sprite.png') -200px -25px;
	height: 25px;
	background-repeat: no-repeat;
	width: 80px;
}

#vtex-icon {
	background: url('../images/sprite.png') -190px -50px;
	height: 25px;
	background-repeat: no-repeat;
	width: 80px;
}

.floating {
	position: absolute !important; 
	left: 0px; 
	top: 0px; 
	z-index: 10 !important;
	margin-top: 160px;
    margin-left: 150px;
    height: 330px;
    display: none;
    overflow: hidden;
    -webkit-box-shadow: 0px 1px 2px 0px #555;
           -moz-box-shadow: 0px 1px 2px 0px #555;
                box-shadow: 0px 1px 2px 0px #555;
    background: white;
}

.floating-left {
	width: 210px;
	height: 330px;
	float: left;
}

.floating-right {
	width: 240px;
	height: 330px;
	float: left;
	margin-left: 1px;
}

.divider {
	float: left;
	background-color: #D3D3D3;
	height: 290px;
	width: 1px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.tab {
	height: 50px;
	width: 100px;
	margin-top: -50px;
	float: left;
	background: black;
}

.selected-filter {
	background: #FCAF17; 
	width: 165px; 
	font-size: 16px; 
	padding-left:6px; 
	height:25px;
}

#adidas-icon {
	background: url('../images/sprite.png') 0px -25px;
	height:32px;
	background-repeat: no-repeat;
	width: 50px;
}

#nike-icon {
	background: url('../images/sprite.png') -50px -25px;
	height:32px;
	background-repeat: no-repeat;
	width: 50px;
}

#right-arrow {
	background: url('../images/sprite.png') -220px -0px;
	height:32px;
	background-repeat: no-repeat;
	width: 15px;
	margin-left: 15px;
	margin-top: 4px;
}

#grid1 {
	background: url('../images/grid8.png') 25px 10px;;
	background-repeat: no-repeat;
}

#grid2 {
	background: url('../images/grid7.png') 25px 10px;;
	background-repeat: no-repeat;
}

#grid3 {
	background: url('../images/grid6.png') 25px 10px;;
	background-repeat: no-repeat;
}

#grid4 {
	background: url('../images/grid5.png') 25px 10px;;
	background-repeat: no-repeat;
}

#grid5 {
	background: url('../images/grid4.png') 25px 10px;;
	background-repeat: no-repeat;
}

#grid6 {
	background: url('../images/grid3.png') 25px 10px;;
	background-repeat: no-repeat;
}

#grid7 {
	background: url('../images/grid2.png') 25px 10px;;
	background-repeat: no-repeat;
}

#grid8 {
	background: url('../images/grid1.png') 25px 10px;;
	background-repeat: no-repeat;
}

.orange-box {
	margin-top: 20px; 
	margin-left: 20px; 
	text-align: center; 
	width:120px; 
	padding-left: 0px; 
	margin-bottom: 10px;
}

.principal-content {
	padding-left:60px;
}

.no-selected-filter {
	background: #3A3335; 
	width: 165; 
	font-size: 16px; 
	color: white; 
	padding-left:6px;
	margin-top:10px; 
	height:25px;
}

.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}

